#demoCanvas {
	width: 40%;
	height: 40%;
	top: 20%;
	left: 5%;
	border: 1px solid red;
	position: absolute;
	visibility: hidden;
}

#chart {
	width: 70%;
	height: 70%;
	top: 20%;
	left: 20%;
	border: 1px solid red;
	position: absolute;
}
